.about {
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
        url(../../img/colleagues-giving-fist-bump.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100vh;
    text-shadow: 2px 2px 4px #000000;
    background-size: 100%;
    height: 100vh;
}
